*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
}
header{
    /* border: 2px solid black; */
    /* height: 550px; */
    display: flex;
    flex-direction: column;
    width: 100vw;
}

nav{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed; */
    /* width: 100%;  */
    background-color: white; 
}

#logo-span{
    display: inline-block;
    padding: 20px;
}
#logo{
    width: 250px;
}

.nav-list{
    list-style: none;
    background-color: red;
    display: inline;
}
.items{
    float: left;
    margin: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.items:hover{
    cursor: pointer;
    color: #0092ff;
    transition: 0.5s;
}

.cta{
    padding: 17px 30px;
    border-radius: 35px;
    background-color: #0092ff;
    color: white;
    border: none;
    font-size: 16px;
}
.cta:hover{
    background-color: #0066b4;
    transition: 0.5s;
    cursor: pointer;
}

/* section-hero */

#hero, #hero2{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    padding: 55px;
    margin-top: 75px ;
}

.hero-content{
    width: 450px;
    margin-top: 125px;
}

.hero-heading{
    font-size: 70px;
    font-weight: bolder;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #091e3f;

}

.hero-heading, .hero-para, .hero-btn{
    margin: 10px;
}

.hero-btn{
    margin-top: 25px;
}

.hero-para{
    letter-spacing: 1px;
    line-height: 25px;
}

.hero-img{
    width: 400px;
    background-image: url(https://image.freepik.com/free-vector/characters-using-mobile-payment-system-with-scan-qr-code-online-shopping-concept_90220-485.jpg?w=740);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* section-hero */


.feature-div{
    background-color: #044a75;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 55px;
}

.features-para, .features-head{
    color: white;
    margin: 10px;
}

.features{
    display: inline-block;
    width: 300px;
}
.gg{
    color: white;
}


.stars{
    color:royalblue;
}
#doit{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doit-img{
    display: inline-block;
    height: 100px;
    width: 120px;
    background-image: url(images/icn-obj-2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.doit-con{
    text-align: center;
}

.feature-section{
    display: flex;
    justify-content: space-around;
    padding: 90px;
}


#box-1 > h1{
    text-align: right;
}

.features > div{
    margin: 20px;
}

.fab, .fas{
    margin-right: 12px;
    color: #044a75;
}

#box-1 > h1 {
    text-align: right;
    margin-top: 25px;
}

.features-btn{
    color: white;
    display: inline;
    margin: auto;
    
}

.btn-span{
    display: flex;
    align-items: center;
}

.shield-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shield-1{
    height: 300px;
    width: 250px;
    background-image: url(images/shield.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
}

#shield-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;
}

.partners{
    height: 80px;
    width: auto;
    display: inline-block;
    background-image: url(images/screenshot-www.sendinblue.com-2022.02.09-11_35_53.png);
    background-repeat: no-repeat;
}

.shield-section a{
    color: rgb(3, 111, 184);
    font-weight: bold;
    text-decoration: none;
}

#shield-2 p, .grid-head{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: #083958;
}

.partners{
    margin-bottom: 25px;;
}


.grid-section{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 280px 280px 280px 280px;
    background-color: #044a75;
    width: 50%;
    margin: auto;
}

.boxes{
    background-color: #044a75;
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes p{
    color: white;
}

#div-5, #div-6{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: center ;
}

.m{
    font-size: 30px;
    color: white;
}


.divs{
    margin: 20px;
}

#div-4{
    background-color: #166da2;
}
#div-7{
    background-color: #065687;
}

#div-1, #div-5{
    padding-left: 100px;
}
.love-section{
    clear: both;
    background-color: #ffd201;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    position: relative;
    top: -127px;
    z-index: -2;
    margin-right: 70px;
}


#love-img{
    background-image: url(images/dr-peter-guirguis-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 370px;
}

.love-head{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.love-p{
    width: 400px;
    font-size: 22px;
    line-height: 31px;
    margin-top: 41px;
}

.second-head{
    font-size: 45px;
}

.img2{
    background-image: url(images/start-illu.jpg);
}

#hero2{
    background-color: #ecc4ff;
    margin-top: -125px;
}
.footer-ico{
    font-size: 30px;
}
#footer-1{
    display: flex;
    justify-content: space-between;
    padding: 25px; 
}

.yt{
    color: #ff0000;
}

.fb{
    color: #4460a0;
}

.twt{
    color: #00aaec;
}

.lin{
    color: #007ebb;
}
.ins{
    color: #ef2e89;
}



@media (max-width: 1122px){
    .grid-section{
        grid-template-columns: 250px 250px 250px 250px;
    }
}
@media (max-width: 1010px){
    .grid-section{
        grid-template-columns: 200px 200px 200px 200px;
    }
}

@media (max-width: 800px){
    .grid-section{
        grid-template-columns: 150px 150px 150px 150px;
    }
}
@media (max-width: 872px){
    nav{
        flex-direction: column;
    }
}


@media (max-width: 480px){
    #hero{
        flex-direction: column-reverse;
    }
    .hero-img{
        height: 200px;
    }
    .hero-content{
        width: auto;
    }
    .feature-div{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    #hero-img-2{
        display: none;
    }
    .feature-section{
        flex-direction: column;
    }
    .grid-section {
        grid-template-columns: 100px 100px 100px 100px;
    }
    #shield-1{
        width: 100px;
        height: 200px;
        
    }
    #shield-2{
        padding: 10px;
        font-size: 22px;
    }
    #love-content{
        display: inline;
        height: 271px;
        width: 250px;
    }
    .love-p{
        font-size: 15px;
        line-height: 15px;
        padding: 10px;
        display: inline;
    }
    .love-section{
        margin: auto;
        width: 80%;
        clear: both;
    background-color: #ffd201;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    position: relative;
    flex-direction: column-reverse;
    top: -173px;
    z-index: -2;
    margin-right: 70px;
    align-items: center;
    }
    #love-img{
        height: 150px;
        width: 150px;
    }
    #hero2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}



@media (max-width: 2560px){
    #footer-1{
        padding: 25px 170px;
    }
}

@media (max-width: 768px){
    .hero-heading{
        font-size: 45px;
    }
    .grid-section{
        width: 10%;
        float: none;
        margin: 30px;
    }
}